@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.form-div{
    margin: 50px auto 50px;
    padding: 25px 15px 10px;
    border: 1px solid #80ced7;
    border-radius: 5px;
    font-size: 1.1em;
    font-family: 'Lora', serif;
}

.font-control:focus {
    box-shadow: none;

}

form p {
    font-size: 0.89em;

}

.form-div.login{
    margin-top: 100px;
    
}